html
	head
		meta(charset="UTF-8")
		title Logged to app
		link(rel='stylesheet', type='text/css', href='../styles/logged.css')
		style
			include ../styles/logged.css
	body
		header
			h1 You are logged
		main
			p I am pleased to informed you that you have ogged properly.
		footer Adam Nelip 2018	